body {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: xx-large;
    
}

p {
    font-size: xx-large;
}

a {
    font-size: x-large;
}

.title {
    text-align: center;
    justify-content: center;
}

.top {
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    padding: 0.75rem;
    gap: 1rem;
}


.about-text {
    width: 45%;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-top: 0.25rem;
}

.logo-container {
    position: absolute;
    right: 7.5rem;
    top: 410px;
    width: 30%;
}

img {
    width: 90%;
    height: auto;
}

.projects-section p {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.github-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
    padding-top: 0rem;
    gap: 2rem;
}