body {
    background: #EEEEEE;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 10px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.left-side, .right-side {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

a {
    cursor: pointer;
}

code {
    font-size: 120px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15rem;
}

.middle-section, .about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 36px;
    gap: 0px;
}

.text {
    max-width: 650px;
    text-align: center;
    font-size: 20px;
}

.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
